.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    color: var(--dark-text);
    background-color: var(--green-bg);
    padding: var(--block-padding);
    border-top: 2px solid var(--color03);
}