.lessons__header {
    font-size: 1.1rem;
    margin-block-start: calc(var(--block-padding) / 2);
    margin-block-end: var(--block-padding);
}

.lessons__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5em;
}

.lessons__item {
    display: inline-block;
    color: var(--dark-text);
    background-color: var(--light-bg);
    padding: 4px 6px;
    font-size: 14px;
    border: 1px solid var(--green-bg);
    box-shadow: 0px 0px 0px 1px var(--color03);
    border-radius: 4px 4px 8px 4px;
    transition: all 200ms;
}

.lessons__item::first-letter {
    text-transform: uppercase;
}

.lessons__input {
    display: none;
}

.lessons__item:has(.lessons__input:checked)  {
    color: var(--light-text);
    font-weight: 200;
    background-color: var(--color02);
}
